
body
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow: hidden;
    margin:0;
    color: white;
     background: rgb(15,21,23);
background: linear-gradient(90deg, rgba(15,21,23,1) 0%, rgba(0,0,0,1) 100%);
}



#page_container
{
    width: 100%;
    height: 100vh;
}

#page_diagonal_container
{
    width: 100%;
    height: 100vh;
    display:block;
    float:right;
    position: relative;
     display: flex;
}
#diagonal_content
{
    height: 100vh;
    background-color: rgba(20,20,20,0.9);

    width: 40%;
    position:absolute;
    right:0;
    z-index:10;
}

#background_content
{
    border-right: 230px solid rgba(20,20,20,0.9);
    border-top: 100vh solid transparent;
    height: 100vh;
    z-index:1;
      width: 20%;
    top:0;
    right:40%;
    position:absolute;
}





#menu
{
    width:100%;
    margin-top:4vh;
    margin-left:10%;
}

.active
{
    border-bottom: 2px solid white;
}

.menu_button{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 3vh;
	position: relative;
	padding: 10px;
	margin-right:5%;
	width:20%;
}

.menu_button:before, .menu_button:after{
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	transition: all 0.3s ease;
}

.menu_button:before{
	top: -2.5%;
	left: -1%;
	border-top: 2px solid white;
	border-left: 2px solid white;
}
.menu_button:after{
	bottom: -2.5%;
	right: -1%;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
.menu_button:hover:before, .menu_button:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

#content
{
    width:100%;
    overflow-y:auto;
    height: 90vh;
}

#content p
{
    font-size:2vh;
    margin-left:10%;
    margin-right:10%;
}


.numered_list {
  counter-reset: index;
  padding: 0;
  width:80%;
  position: relative;
}

.numered_list li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  width:100%;
  box-sizing: border-box;
}


.numered_list li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  padding-right: 12px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom,  rgba(135,206,255,1), rgba(61,19,111,1));
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.numered_list li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}






.underline{
  position: relative;
  text-decoration: none;
  color: #0074D9;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}


#mobile
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: black;
    color: white;
    display:none;
    z-index:1000;
    text-align:center;
}

@media only screen and (max-width: 1700px) {
  .menu_button
  {
    font-size:3vh !important;
  }
  #diagonal_content
  {
    width:50%;
  }
  #background_content
  {
    right:50%;
  }
}

@media only screen and (max-width: 1200px) {
  #mobile
  {
    display:block;
  }
  #mobile h1
  {
     font-size:100%;
     margin-top:50%;
  }
}